<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue"></script>
    <title>groupie-tracker</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/filter.css">

    <script>
      function check() {
        document.getElementById("label1").innerHTML = document.getElementById("min").value
        document.getElementById("label2").innerHTML = document.getElementById("max").value
        

      }
      function check2() {
      }
    </script>
  </head>

  <body>
    <div class="main-menu" align="center">
      <div class="inner-menu" align="center">
        <h1><a href="/" class="header-text">Groupie tracker</a></h1>
        <h3>Find your artists and their locations</h3>
        <div class="search">
          <form action="/" method="post">
            <input type="searchText" list="allList" placeholder="search ..." name="searchText">
            <datalist id = "allList">
              {{range $element := .Artists}}
              <option value={{$element.Name}}>{{$element.Name}} - Band</option>
                <!-- members -->
                {{range $members := $element.Members}}
                <option value={{$members}}>{{$members}} - Member</option>
                {{end}}

                <!-- Locations -->

                {{range $locations := $element.Locs.Locations}}
                <option value={{$locations}}>{{$locations}} - Location</option>
                {{end}}

                <!-- first album -->
                <option value={{$element.FirstAlbum}}>{{$element.FirstAlbum}} - first album</option>

                <!-- creation date -->
                <option value={{$element.CreationDate}}>{{$element.CreationDate}} - creation date</option>

              {{end}}
              
            </datalist>
            <select name="searchType" id="searchType">
              {{range $option := .Option}}
              <option value={{$option}}>{{$option}}</option>
              {{end}}
            </select>
            <button>Go</button>
          </form>
        </div>
      <div>
        <details>
          <summary class="header-text">Filter</summary>

          <form action="/filter" method="GET">
            <div class="slidecontainer">
              <p class="filter-head">CreationDate</p>
              <div>
                Start date<input type="date" name="cr_start_date">
                End date<input type="date" name="cr_end_date">
              </div>
            </div>
  
            <div class="slidecontainer">
              <p class="filter-head">First Album</p>
              <div>
                Start date<input type="date" name="fa_start_date">
                End date<input type="date" name="fa_end_date">
              </div>
            </div>
  
            <div class="slidecontainer">
              <p class="filter-head">Number of Members</p>
              <div id="slider"></div>
              <br>
              <label for="min" id="label1">0</label>
              <input onchange="check()" type="range" min="0" max="10" value="0" class="min" id="min">
              <br>
              <br>
              <label for="max" id="label2">10</label>
              <input onchange="check()" type="range" min="0" max="10" value="10" class="max" id="max">
            </div>
  
            <div class="slidecontainer">
              <p class="filter-head">Location of concerts</p>
                {{range $element := .Artists}}
                  {{range $index, $location := $element.Locs.Locations}}
                  <input type="checkbox" name="location" value={{$location}}>
                  <label>{{$location}}</label>
                  <br>
                  {{end}}
                {{end}}
            </div>

            <input type="submit" value="apply">
          </form>
          
        </details>
      </div>

      <!-- filter end -->


    </div>

    {{if not .Artists}}
    <div class="container">
      <div class="wrap">
        <h1>No band is found</h1>
      </div>
    </div>
    {{else}}

    <div class="conatiner" >
      <div class="wrap">
        {{range $element := .Artists}}
        <div class="box one">
          <form action="/artist" method="GET">
            <input type="hidden" name="ID" value={{$element.ID}} />
            <button>Go</button>
          </form>
          <br />
          <img src="{{$element.Image}}" alt="" />
          <div class="date">
            <h4>Creation Date: {{$element.CreationDate}}</h4>
            <h4>First Album: {{$element.FirstAlbum}}</h4>
            <h5 style="color: rgb(212, 209, 209);">Members:</h5>
            <div class="members">
              {{range $member := $element.Members}}
              <p>{{$member}}</p>
              {{end}}
            </div>
            <h5 style="color: rgb(212, 209, 209);">Locations:</h5>
            <div class="members">
              {{range $location := $element.Locs.Locations}}
              <p>{{$location}}</p>
              {{end}}
			</div>

			<h5 style="color: rgb(212, 209, 209);">Concert Dates:</h5>
            <div class="concertDates">
              {{range $date := $element.ConDates.Dates}}
              <p>{{$date}}</p>
              {{end}}
			</div>


			<h5 style="color: rgb(212, 209, 209);">Concert Dates with Locations:</h5>
            <div class="concertDates">
              {{range $city, $dateAndLocation := $element.Rels.DatesLocations}}
              <p>{{$city}}:<br>{{range $innerDate := $dateAndLocation}}{{$innerDate}}<br>{{end}}</p>
              {{end}}
			</div>
          </div>
          <h1>{{$element.Name}}</h1>
        </div>
        {{end}}
      </div>
    </div>
{{end}}
    <script src="app.js"></script>
  </body>
</html>
